{% extends "base_template/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="alert alert-info pb-0" role="alert">
  <p class="lead text-dark">
    Please use the following header fields in the CSV file:
  </p>
  <p class="text-muted">
    "Hostname","IP","Vendor"
  </p>
</div>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-2 mt-3 mb-3">
    {{ form|crispy }}
  </div>
  <button type="submit" class="btn btn-sm btn-primary">
    <i class="fas fa-file-upload"></i>
    Upload
  </button>
</form>
{% endblock %}
