{% extends "base_template/base.html"%}
{% block content %}
{% if data %}
<div class="table-responsive rounded">
    <table id="device_inventory" class="table table-striped table-hover table-sm" style="width:100%">
        <thead>
            <tr>
                <th><i class="fas fa-signature"></i> Hostname</th>
                <th><i class="fas fa-at"></i> IP</th>
                <th><i class="fas fa-code-branch"></i> Software</th>
                <th><i class="fas fa-sitemap"></i> Model</th>
                <th><i class="fas fa-barcode"></i> Serial Number</th>
                <th><i class="fas fa-search-location"></i> Location</th>
                <th><i class="fas fa-calendar-day"></i> Date Added</th>
            </tr>
        </thead>
        <tbody>
            {% for device in data %}
            <tr>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'inventory:device_detailed_info' device.id %}">{{ device.hostname }}</a>
                </td>
                <td>{{ device.mgmt_ip }}</td>
                <td>{{ device.software_version }}</td>
                <td>{{ device.hardware_model }}</td>
                <td>{{ device.serial_number }}</td>
                <td>{{ device.location }}</td>
                <td>{{ device.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<p>
    To import devices using a CSV file click <a href="{% url 'inventory:device_inventory_import' %}">here</a>
</p>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#device_inventory').DataTable(
            {
                renderer: 'bootstrap',
                select: false,
                fixedColumns: true,
                responsive: true,
                ordering: true,
                dom: '<"top"B>rt<"bottom"iflp><"clear">',
                lengthMenu: [10, 15, 20],
                buttons: [
                    {
                        'extend': 'copy',
                        'text': 'Copy',
                        'className': 'btn btn-xs btn-outline-dark'
                    },
                    {
                        'extend': 'csv',
                        'text': 'CSV',
                        'className': 'btn btn-xs btn-outline-dark'
                    },
                    {
                        'extend': 'excel',
                        'text': 'MS Excel',
                        'className': 'btn btn-xs btn-outline-dark'
                    },
                    {
                        'extend': 'pdf',
                        'text': 'PDF',
                        'className': 'btn btn-xs btn-outline-dark'
                    }
                ]
            }
        );
    });
</script>
{% endblock scripts %}
