{% extends "base_template/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" action="{% url 'login' %}">
{% csrf_token %}
<div class="d-flex justify-content-center my-5">
  <div class="col-md-2">
    <h4>
      <i class="fas fa-door-open"></i>
    Please Login
  </h4>
    <hr style="width: 100%">
    {{ form|crispy }}
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="fas fa-sign-in-alt"></i>
        Login
      </button>
      <p class="mt-3">
        To sign up please follow this <a href="{% url 'signup' %}">link</a>
      </p>
  </div>
</div>
</form>
{% endblock %}
