{% extends "base_template/base.html"%}
{% load static %}
{% block content %}
{% if data %}
<div class="table-responsive rounded">
    <table id="users" class="table table-hover table-sm" style="width:100%">
        <thead>
            <tr>
                <th><i class="fas fa-user-circle"></i> Username</th>
                <th><i class="fas fa-signature"></i> Full Name</th>
                <th><i class="fas fa-at"></i> Email</th>
                <th><i class="fas fa-user-clock"></i> Last Login</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td>{{ user }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email|lower }}</td>
                <td>{{ user.last_login|date:"D d M y G:i:s" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<div class="row justify-content-center my-5">
    <h6>
        <i class="fas fa-eye"></i>
        Unique site visitors:
    </h6>
    {% for ip, location in visitors.items %}
    <div class="toast col-sm-1" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <img src="https://flagcdn.com/w20/{{ location | lower }}.png" class="rounded me-2">
            <strong class="me-auto">
                <a class="text-decoration-none" href="https://www.abuseipdb.com/check/{{ ip }}" target="#">{{ ip }}</a>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $(".toast").toast('show');
    });
</script>
{% endblock javascript %}