.asteriskField {
    display: none;
}
nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    height: 55px;
    top: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-y: scroll;
  min-height: 75rem;
  padding-top: 5rem;
  height: 100%;
}
.card {
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.card-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
th {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
td {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.btn-group-xs>.btn,
.btn-xs {
    padding: .25rem .4rem;
    font-size: 10px;
    line-height: .5;
    border-radius: .2rem;
}
.tooltip-inner {
    color: white;
    max-width: 550px;
    text-align: start;
}
.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}
