.asteriskField {
    display: none;
}
nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    height: 65px;
    top: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-y: scroll;
  min-height: 70rem;
  padding-top: 5rem;
  height: 100%;
  background: linear-gradient(to top, #e6e6e6, #4b4b4b, #656565)
}
.card {
    transition: 0.3s;
    margin: 0.5rem;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #e6e6e6;
}
.card-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #e6e6e6;
}
th {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
td {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.btn-group-xs>.btn,
.btn-xs {
    padding: .25rem .4rem;
    font-size: 10px;
    line-height: .5;
    border-radius: .2rem;
}
.tooltip-inner {
    color: white;
    max-width: 550px;
    text-align: start;
}
.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(236, 232, 232, 0.5);
    z-index: 2;
    cursor: pointer;
}