{% extends "base_template/base.html"%}
{% block content %}
{% if data.celery_information %}
<div class="col-md-6">
    <ul>
        {% for key, value in data.celery_information.celery_statistics.items %}
        <li><i class="fas fa-signature"></i> Worker Name: {{ key }}</li>
        <li><i class="fas fa-business-time"></i> Worker Uptime: {{ value.uptime }} seconds</li>
        <li><i class="fas fa-lightbulb"></i> PID: {{ value.pid }}</li>
        <li><i class="fas fa-calculator"></i> Total Jobs: {{ value.pool.writes.total }}</li>
        {% endfor %}
        <li>
            <i class="far fa-calendar-check"></i> Registered Tasks:
                {% for task in data.celery_information.registered_tasks %}
                <ul><li>{{ task }}</li></ul>
                {% endfor %}
        </li>
        <li>
            <i class="fas fa-tasks"></i> Scheduled Tasks:
            {% for task in data.celery_information.scheduled_tasks %}
                <ul><li>{{ task }}</li></ul>
            {% endfor %}
        </li>
        <li>
            <i class="fas fa-hammer"></i> Active Tasks:
            {% for task in data.celery_information.active_tasks %}
                <ul>
                    <li>Task ID: {{ task.id }}</li>
                    <li>Task Name: {{ task.name }}</li>
                    <li>Worker PID: {{ task.worker_pid }}</li>
                </ul>
            {% endfor %}
        </li>
    </ul>
</div>
{% endif %}
{% if data.tasks_list %}
<div class="col-md-12">
    <div class="table-responsive rounded">
        <table id="celery_completed_tasks" class="table table-hover table-sm" style="width:100%">
            <thead>
                <tr>
                    <th><i class="fas fa-barcode"></i> Task ID</th>
                    <th><i class="fas fa-signature"></i> Task Name</th>
                    <th><i class="fas fa-battery-full"></i> Status</th>
                    <th><i class="fas fa-poll"></i> Result</th>
                    <th><i class="fas fa-users-cog"></i> Requestor</th>
                    <th><i class="fas fa-play-circle"></i> Started</th>
                </tr>
            </thead>
            <tbody>
                {% for completed_task in data.tasks_list %}
                <tr>
                    <td>{{ completed_task.task_id }}</td>
                    <td>{{ completed_task.task_name }}</td>
                    <td>
                        {% if 'COMPLETED' in completed_task.task_status %}
                            <span class="badge bg-success">{{ completed_task.task_status }}</span>
                        {% else %}
                            <span class="badge bg-danger">{{ completed_task.task_status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#task_result_modal">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <div class="modal fade" id="task_result_modal" tabindex="-1">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Task Result - Information</h5>
                                  </div>
                                  <div class="modal-body">
                                    <ul>
                                        <li>
                                            Result:
                                            {% if 'success' in completed_task.task_result.status %}
                                                <span class="badge bg-success">{{ completed_task.task_result.status|upper }}</span>
                                            {% else %}
                                                <span class="badge bg-danger">{{ completed_task.task_result.status|upper }}</span>
                                            {% endif %}
                                        </li>
                                        <li>
                                            Details:
                                            <ul>
                                                {% for detail in completed_task.task_result.details %}
                                                    <li>{{ detail }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ completed_task.task_requested_by }}</td>
                    <td>{{ completed_task.start_time|date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
